<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>The home page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem reprehenderit itaque earum aperiam, odit, sed recusandae a nesciunt ducimus nisi veniam harum laboriosam tempora architecto. Corporis alias tempore ipsam modi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolorum eius delectus cupiditate quidem suscipit, consequatur corporis. Eligendi nam, libero, laborum ut, tempore aliquid mollitia similique et laudantium facilis unde.</p>
</body>
</html>